@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body class="bg-backgroud">
    <div class="text-center bg-text-color">
        <h2 class="display-2">Teste</h2>
        <p>Lista de Empresas Cadastradas</p>
    </div>
</body>

