@model Company
@{
    ViewData["Title"] = "Nova Empresa";
}
<div class="bg-body bodySettings">
    <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="ManageCompanyHome"><i class='bx bx-arrow-back'></i> Voltar</a>

    <h1>Nova Empresa</h1>
    <p style="display: none;" id="error-message"></p>

    <form id="fomrInsert" asp-controller="Home" asp-action="InsertCompany" method="post">
        <div class="mb-3">
            <input class="col-form-label" type="text" name="corporateName" value="@Model.CorporateName" placeholder="Razão social" required>
        </div>

        <div class="mb-3">
            <input class="col-form-label" type="text" name="fantasyName" value="@Model.FantasyName" placeholder="Nome Fantasia" required>
        </div>

        <div class="mb-3">
            <input class="col-form-label" type="text" name="CNPJ" value="@Model.CNPJ" placeholder="CNPJ" required>
        </div>

        <button class="btn btn-success" type="submit">Registrar</button>
    </form>
</div>
